/*Starting of the Home Page*/
#topheader{
    background-color: indianred;
    border-bottom: 2px solid silver;
}
#topheader a{
    font-weight: 600;
    color: black;
    font-size: 0.86rem;
}
.navbar-brand img{
    width: 200px;
    height: 80px;
    border-radius:50%;
   
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.change{
    font-size: 20px;
    color: cornsilk;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav ul li a{
    font-size: 1.1rem;
    font-weight: 400;
}
.col-md-3 img{
    width: 100px;
    height: 80px;
}
.full-footer{
    background-color: rgb(5, 5, 22);
  
    width: 100%;
}
.p1{
    color: white;
}
.a1{
    color: white;
    font-weight: 600;
}
.col-md-3{
    color: white;
}
.col-md-3 a{
    color: white;
}
.bottom-footer{
    color: white;
}
.img-fluid{
    height: 30px;
    width: 30px;
    
}
.sixth{
    height: 400px;
    width: 600px;
    border-radius: 20%;
}
.top-hero-section{
    background-color: #3498db;
    color: white;
}
.top-hero-section a{
    color: white;
    font-weight: 600;
}
.btn{
    color: white;
}
.img{
    height: 100px;
    width: 100px;
}
.sect3{
    background-color: #004d80;
    color: white;
}
.img2{
    height: 300px;
    width: 400px;
}
.newsletter{
    background-color: #004d80;
    color: white;
}
.newsletter .form-control{
    height: 50px;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}
.newsletter .btn{
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    color: white;
    background: #a70664;
}
.trusted-clients{
    background-color: silver;
}
/*Starting of the Home Page*/




/*Starting of the About Us Page*/

.bread-crumb-section{
    background-color: #e9ecef;
}
#aboutimg{
    height: 300px;
    width: 300px;
    border-radius: 30%;
    border-color: rgb(12, 11, 12);
}
#team{
    height: 100px;
    width: 100px;
    border-radius: 30%;
}

.ff{
    height: 150px;
    width: 200px;
    border-radius: 20%;
}
.ss{
    height: 80px;
    width: 200px;
    border-radius: 50%;
   padding: 5px;
}





/*Ending of the About Us Page*/
